<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        
     <bean id="sampleBin1" class="com.marticus.SampleBean" /> 
     
     <bean id="myBean" class="com.marticus.MyBean">
     	   <property name="sampleBean" ref="sampleBin1" />     	   
     </bean>      
     
       <bean id="customBeanPostProcessor"
               class="com.marticus.CustomBeanPostProcessor" />
    
</beans>