<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        
    <bean id="bm" class="com.marticus.bmw" /> 
    <bean id="jag" class="com.marticus.jaguar" />
    <bean id="por" class="com.marticus.porche" /> 
     
         
     
     <bean id="car" class="com.marticus.CarRental" scope="prototype" >
     	   <property name="rent" ref="bm" />     	   
     </bean>      
    
</beans>