<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        
     <bean id="savingacc" class="com.marticus.savings" /> 
     <bean id="currentacc" class="com.marticus.current">
        
     <bean id="company" class="com.marticus.company" />
     	<constructor-arg ref="savingacc"/>     
     </bean>  
     
</beans>